tui-app-bar {
    margin-block-end: 0;
}

.colors-selector {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 1rem 0;
}

.color {
    background-color: var(--color);
    width: 1.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color.is-selected::before {
    width: 0.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fff;
    display: block;
    content: "";
}
